{% extends 'basic.html' %}
{% block title %} 
    Brain Skill - List of all Students
{% endblock %}
{% block content %}
    <!-- <p><a href="/">HOME</a></p>
    <h1>Members</h1>
    <ul>
        {% for x in mymembers %}
            <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
        {% endfor %}
    </ul> -->
    <div class="mycard">
        <h1>Students</h1>
        <ul>
          {% for x in mymembers %}
            <li onclick="window.location = 'details/{{ x.id }}'">{{ x.firstname }} {{ x.lastname }}</li>
          {% endfor %}
        </ul>
      </div>
{% endblock %}
